{% extends "includes/base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="client/css/login.css" />
<div class="container">
    <form class="form-signin">
        <h2 class="form-signin-heading">Login</h2>
        {{ form.username(class='form-control', placeholder='Username', required='required', autofocus='autofocus', id='inputUsername') | safe }}
        {{ form.password(class='form-control', placeholder='Password', required='required', autofocus='autofocus', id='inputPassword') | safe }}
        <div class="checkbox">
            <label>
                {{ form.remember_me() }} Remember me
            </label>
        </div>
        {% from "includes/_formhelpers.html" import render_errors %}
        {{ render_errors(form.username) }}
        {{ render_errors(form.password) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>
{% endblock %}